* {
	margin: 0px;
	padding: 0px;
	border: 0;
	outline: none;
}
li {
	list-style: none;
}
a,
a:hover{
	text-decoration: none;

}
body,
html{
	width: 100%;
	height: 100%;
}
.nopadding{
	padding: 0px !important;
}